.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.26s;
}
.day-card {
  width: 45rem;
  height: 56rem;
  border-radius: 2rem;
}
h2 {
  font-size: 4.8rem;
  margin: 3rem;
}

.conteiner:hover {
  transform: translateY(-4rem);
}
